<li>
    <img
        src="//gravatar.com/avatar/{{ include.person.email_md5 }}?s=100"
        alt="Gravatar of {{ include.person.name }}"
    />
    <h4>
        {% if include.person.website_url %}
            <a href="{{ include.person.website_url }}">{{ include.person.name }}</a>
        {% else %}
            {{ include.person.name }}
        {% endif %}
    </h4>
    <span class="meta meta-user meta-email">
        {{ include.person.email }}
    </span>
    <a
        href="http://github.com/{{ include.person.github }}"
        class="meta meta-user meta-github"
    >
        {{ include.person.github }} on GitHub
    </a>
</li>
