$bp-large: 1024px;
$bp-not-large: $bp-large - 1;

$colors: (
    1: #fff,
    2: #f0f0f0,
    3: #eee,
    4: #ddd,
    5: #aaa,
    6: #555,
    7: #333,
    8: #222,
    9: #000,
    10: #0f9d58,
);
