@mixin box-sizing($method: border-box) {
    -moz-box-sizing: $method;
    -webkit-box-sizing: $method;
    box-sizing: $method;
}
@mixin background-size($method: cover) {
    -moz-background-size: $method;
    -webkit-background-size: $method;
    background-size: $method;
}
@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin breakpoint($breakpoint) {
    @if $breakpoint == $bp_large {
        @media (min-width: #{$bp_large}) {
            @content;
        }
    }
    @else if $breakpoint == $bp_not_large {
        @media (max-width: #{$bp_not_large}) {
            @content;
        }
    }
    @else {
        @media (#{$breakpoint}) {
            @content;
        }
    }
}
@function _transition-property-name($prop, $vendor: false) {
    @if $vendor and $prop == transform {
        @return unquote('-'+$vendor+'-'+$prop);
    }
    @if $vendor and $prop == box-shadow {
        @return unquote('-'+$vendor+'-'+$prop);
    }
    @if $vendor and $prop == border-radius {
        @return unquote('-'+$vendor+'-'+$prop);
    }
    @else {
        @return $prop;
    }
}
@function _transition-property-names($props, $vendor: false) {
    $new-props: ();
    @each $prop in $props {
        $new-props: append($new-props,
            _transition-property-name($prop, $vendor)
        , comma);
    }
    @return $new-props;
}
@mixin transition-duration($duration...) {
    -moz-transition-duration: $duration;
    -webkit-transition-duration: $duration;
    transition-duration: $duration;
}
@mixin transition-property($property...) {
    -moz-transition-property:
        _transition-property-names($property, 'moz');
    -webkit-transition-property:
        _transition-property-names($property, 'webkit');
    transition-property:
        _transition-property-names($property, false);
}
@mixin transition-timing-function($timing-function...) {
    -webkit-transition-timing-function: $timing-function;
    -moz-transition-timing-function: $timing-function;
    transition-timing-function: $timing-function;
}
@mixin transition($duration, $property: all, $timing-function: linear) {
    @include transition-duration($duration);
    @include transition-property($property);
    @include transition-timing-function($timing-function);
}
