@mixin box-sizing($method: border-box) {
    -moz-box-sizing: $method;
    -webkit-box-sizing: $method;
    box-sizing: $method;
}
@mixin background-size($method: cover) {
    -moz-background-size: $method;
    -webkit-background-size: $method;
    background-size: $method;
}
@mixin breakpoint($breakpoint) {
    @if $breakpoint == $bp_large {
        @media (min-width: #{$bp_large}) {
            @content;
        }
    }
    @else if $breakpoint == $bp_not_large {
        @media (max-width: #{$bp_not_large}) {
            @content;
        }
    }
    @else {
        @media (#{$breakpoint}) {
            @content;
        }
    }
}
